.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 20px;
  background: #ff6427;
}

/* BACK BUTTON */
.back-btn {
  align-self: flex-start;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: rgb(255, 255, 255);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: all 0.25s ease;
}

.back-btn:hover {
  transform: translateX(-3px) scale(1.05);
}

/* HEADER CENTRATO */
.header-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.title {
  margin: 0;
  font-size: 28px; /* 🔥 più grande */
  font-weight: 800;
  color: #222;
}

.item-count {
  font-size: 16px; /* 🔥 più leggibile */
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #381a1a;
  margin-top: 6px;
}

/* CREDIT BOX */
.credit-box {
  width: 100%;
  max-width: 360px;

  background: rgb(212, 255, 120);
  padding: 25px;
  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  text-align: center;
}

.credit-box h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* INPUT */
.credit-box input {
  width: 100%;
  padding: 12px;

  border-radius: 10px;
  border: 1px solid #ddd;

  font-size: 16px;

  margin-bottom: 15px;
  outline: none;
}

.credit-box input:focus {
  border-color: #2575fc;
}

/* BUTTON */
.credit-box button {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 10px;

  background: #fcbf25;
  color: rgb(67, 52, 18);

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.credit-box button:hover {
  background: #1b5ed6;
  transform: translateY(-1px);
}

/* MESSAGE */
.credit-box p {
  margin-top: 12px;
  font-size: 14px;
  color: #333;
}