/* HEADER */
.header-section {
    padding: 40px 20px;
    background-color: #ec3c14;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU */
.menu-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    cursor: pointer;
    color: white;
}

/* CENTRO */
.nomecarrello {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

/* SEARCH + SELECT */
.search-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-row input {
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    border: none;
}

/* SELECT */
.genre-select {
    padding: 10px 15px;
    border-radius: 10px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    right: -280px;
    width: 260px;
    height: 100%;
    background: #222;
    color: white;
    padding: 20px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

.sidebar-item {
    padding: 12px;
    cursor: pointer;
}

.sidebar-item:hover {
    background: #444;
}

.logout {
    color: red;
}

/* 🔥 CONTENUTO SHIFT SENZA ROMPERE 3D */
.main-content {
    transition: margin-right 0.3s ease;
}

.main-content.shift {
    margin-right: 260px;
}

/* GRID */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
    background: #d96f51;
}

/* CARD */
.product-card {
    background: #ffd7d7;
    border-radius: 15px;
    transition: 0.3s;
}

/* 🔥 3D FIX */
.image-wrapper {
    height: 180px;
    perspective: 1000px;

}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-out;
}

/* CONTENUTO */
.card-content {
    padding: 15px;
    text-align: center;
}

.game-title {
    font-size: 1.1rem;
    margin: 10px 0;
}

.price {
    color: #28a745;
    font-weight: bold;
}

.btn-add 
{
    
    background: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.btn-add:hover {
    background: #66ffba;
}