<div class="header-section">
  <div #menuIcon class="menu-icon" (click)="toggleMenu($event)">☰</div>

  <div class="nomecarrello">
    <h1 #titleEl class="title animated-title"
      (mouseenter)="onHover($event)"
      (mousemove)="onMoveTitle($event)"
      (mouseleave)="onLeave()">

      Benvenuto, {{ authService.currentUser()?.userid }}!
    </h1>

<!--     @if (isAdmin) {
    <button class="edit-global" (click)="goToAdmin()">
        ✏️
      </button>
    } -->

    <div class="search-row">
      @if (isAdmin) {
        <!-- Nuovo pulsante matita a sinistra -->
        <div class="edit-btn-container">
          <button class="price-btn" (click)="goToAdmin()">
            ✏️
          </button>
        </div>
      }

      <input 
        type="text" 
        [ngModel]="searchTerm()" 
        (ngModelChange)="searchTerm.set($event)"
        placeholder="Cerca un gioco..."
      >

      <select class="genre-select"
        [ngModel]="selectedGenre()"
        (ngModelChange)="onCategoryChange($event)">

        <option value="">Tutti i Generi</option>

        @for (genre of generi(); track genre) {
          <option [value]="genre">{{ genre }}</option>
        }

      </select>

      <div class="price-filter-container">
        <button class="price-btn" (click)="togglePriceFilter()">💲</button>

        @if (showPriceFilter) {
          <div class="price-popup">
            <label>Prezzo max: {{ maxPrice() }}€</label>

            <input
              type="range"
              min="0"
              max="60"
              [ngModel]="maxPrice()"
              (ngModelChange)="maxPrice.set($event)"
            />
          </div>
        }
      </div>

    </div>
  </div>
</div>

<!-- SIDEBAR -->
<div class="sidebar" [class.open]="showMenu">

  <div class="sidebar-header">
    @if (isAdmin) {
      <a routerLink="/admin/giochi" class="menu-item">
        🛡️
      </a>
    }
    <span class="user">👤 {{ authService.currentUser()?.userid }}</span>
    <button class="theme-toggle" (click)="toggleTheme()">
      {{ isDark ? '🌙' : '☀️' }}
    </button>
    <!-- Icona campanella -->
    <div class="bell" (click)="toggleNotifications()">
      🔔
      <span *ngIf="unreadCount() > 0" class="bell-badge">{{ unreadCount() }}</span>
    </div>

    <!-- Mostra notifiche -->
    <div *ngIf="showNotifications" class="notifications-dropdown">
      <ul>
        <li *ngFor="let notifica of notifiche()">
          <div>
            <strong>{{ notifica.messaggio }}</strong>
            <p>{{ notifica.data }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  

  <div class="sidebar-item" (click)="goToCredit()">
    💰 Credito € {{ authService.currentUser()?.credito }}
  </div>

  <div class="sidebar-item cart-item" (click)="goToCart()">
    🛒 Carrello
    @if (cartCount() > 0) {
      <span class="cart-badge">{{ cartCount() }}</span>
    }
  </div>

  <div class="sidebar-item" (click)="goToLibrary()">📚 Libreria</div>
  <div class="sidebar-item" (click)="goToProfile()">⚙️ Account</div>


  <div class="sidebar-item logout" (click)="logout()">↪️ Logout</div>

</div>

<!-- CONTENUTO -->
<div class="main-content" [class.shift]="showMenu">

  <div class="container">

    @if (giochiFiltrati().length === 0) {
      <div class="empty-state">
        Nessun gioco trovato 😢
      </div>
    } @else {

      @for (gioco of giochiFiltrati(); track gioco.id) {
        <div class="product-card">

          <div class="image-wrapper">
            <img #gameImg
              [src]="gioco.image_url"
              class="product-image"
              (mouseenter)="onMouseEnter($event, gioco)"
              (mousemove)="onMouseMove($event, gioco)"
              (mouseleave)="onMouseLeave(gioco)"
              [style.transform]="transforms[gioco.id] || ''">
          </div>

          <div class="card-content">

            <h2 class="game-title">{{gioco.titolo}}</h2>
            <p class="price">€ {{gioco.prezzo}}</p>

            <button class="btn-add"
              (click)="aggiungiAlCarrello(gioco, gameImg)">
              Aggiungi al Carrello
            </button>
          </div>

        </div>
      }

    }

  </div>
</div>