:root {
  --bg-main: #d96f51;
  --bg-header: #ec3c14;
  --bg-header2: #ec3c14;

  --login-link: #0b2b2b;

  --bg-card-1: #d96f51;
  --bg-card-2: #ea2424;
  --bg-card-3: #db5353;

  --bg-card-1-h: #d96e5109;

  --auth-box: #430606;
  --auth-box-btn: #f79c88;

  --genre-select: #222;

  --game-title-c: #131313;

  --menu-icon: #e1ff00b8;
  --menu-icon-2: #0e1728;

  --btn-add-bg: #ff7a51;
  --btn-add-col: #2e1958;
  --btn-add-bg-h: #66ffba;
  --btn-add-col-h: #424242;

  --sidebar-bg: #c22626;
  --text-color: #ffffff;
  --text-color-b: #ffffff;

  --price-btn-m: #201f1f;

  --sidebar-h: #b44343;

  --logout-hover: #0000004d;

  --price-popup: #222;
  --price-popup-c: #e9e9e9;

  --credit-text: #272a16;

  --credit-hover: #272a16;

  --credit-box: #d4ff78;
  --credit-box-btn: #433412;
  --credit-box-btn-bg: #fcbf25;
  --credit-box-btn-bg-h: #1b5ed6;

  --form-box-btn-bg: #1b5ed6;

  --hover-bright: 1.15;
}

body.dark-theme {
  --bg-main: #383636;
  --bg-header: #231e1e;
  --bg-header2: #666363;


  --login-link: #d6ffff;

  --bg-card-1: #4f4c56;
  --bg-card-2: #2a2a2a;
  --bg-card-3: #231e1e;

  --bg-card-1-h: #342d2d;

  --auth-box: #dadada;
  --auth-box-btn: #dcdcdc;

  --genre-select: #e6e6e6;

  --game-title-c: #e7e7e7;

  --menu-icon: #dfdfdfb8;
  --menu-icon-2: #ff2727;

  --btn-add-bg: #c0c0c0;
  --btn-add-col: #2e1958;
  --btn-add-bg-h: #498268;
  --btn-add-col-h: #d6d6d6;

  --sidebar-bg: #3e3939;
  --text-color: #dddddd;
  --text-color-b: #2f2e2e;

  --price-btn-m: white;

  --sidebar-h: #2e2e2e;

  --logout-hover: #ffeeee4d;

  --price-popup: #e9e9e9;
  --price-popup-c: #2a2929;

  --credit-text: #6376b7; 

  --credit-hover: #6376b7;

  --credit-box: #666863;
  --credit-box-btn: #ffffff;
  --credit-box-btn-bg: #1b5ed6;
  --credit-box-btn-bg-h: #fcbf25;

  --form-box-btn-bg: #030914;

  --hover-bright: 1.3;
}


/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-header);
  transition: background-color 0.6s ease,
              color 0.6s ease,
              filter 0.6s ease;
}

body.theme-switching {
  animation: themeMorph 0.6s ease;
}

@keyframes themeMorph {
  0% {
    filter: blur(0px) brightness(1);
  }
  40% {
    filter: blur(2px) brightness(1.2);
  }
  100% {
    filter: blur(0px) brightness(1);
  }
}

app-root {
  display: block;
  min-height: 100vh;
}

.theme-overlay {
  position: fixed;

  top: var(--y, 50%);
  left: var(--x, 50%);

  width: 0;
  height: 0;

  background: black; /* colore del tema dark */
  border-radius: 50%;

  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.2s ease;
  will-change: transform, width, height;
}

.theme-overlay.active {
  animation: expandTheme 0.6s ease;
  opacity: 1;
}

@keyframes expandTheme {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 200vw;
    height: 200vw;
    opacity: 1;
  }
}











.app-footer {
  background: #111;
  color: #aaa;
  padding: 20px 10px;
  text-align: center;
  border-top: 1px solid #222;
  margin-top: 40px;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  color: #ff4d4d;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.credits {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.links a {
  color: #bbb;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.2s;
}

.links a:hover {
  color: #ff4d4d;
}