<div class="cart-wrapper">
  <div class="header-section">
      <button class="back-button" [routerLink]="['/home']">
        <i class="fas fa-arrow-left arrow"></i>
      </button>
    <h1 class="title">Il Tuo Carrello</h1>
    <div class="item-count">{{ totaleArticoli }} Giochi pronti</div>
  </div>

  <div class="container-cart">
    <div class="items-list">
    @for (item of items; track item.id) {

      <div class="cart-card">

        <img [src]="item.gioco.image_url">

        <h2>{{ item.gioco.titolo }}</h2>

        <p>€ {{ item.gioco.prezzo }}</p>

        <button (click)="cambiaQuantita(item, -1)">-</button>

        <span>{{ item.quantita }}</span>

        <button (click)="cambiaQuantita(item, 1)">+</button>

      </div>

    } @empty {
      <div class="empty-state">
        <p>Ops! Il tuo carrello è vuoto.</p>
      </div>
    }
  </div>

    @if(items.length){
    <div class="summary-box">
      <h3>Riepilogo Ordine</h3><br>
      <div class="summary-row">
        <span>Subtotale: </span>
        <span>{{ getTotaleArticoli().toFixed(2) }} €</span>
      </div>
      <div class="summary-row">
        <span>IVA (22%): </span>
        <span>{{ iva.toFixed(2) }} €</span>
      </div>
      <div class="summary-row"> 
        <span class="free">Spedizione GRATIS</span>
      </div>
      <hr>

      <div class="summary-total">
        <span>Totale</span>
        <span>€ {{ totale.toFixed(2) }}</span>
      </div>
      <button class="btn-checkout">Procedi al Pagamento</button>
    </div>
  }
  </div>
</div>